@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000; /* Full black */
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    overflow: auto;
}

.logo {
    width: 150px; /* increased size */
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00e6e6;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #00e6e6;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #00b3b3;
    transform: scale(1.05);
}

.floating-icon {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #00e6e6;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    text-align: center;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

.floating-icon span {
    color: #000;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

.floating-icon:hover {
    background-color: #00b3b3;
}

.visitor-counter {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #00e6e6;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

body .draggable {
    cursor: move;
}

@media (max-width: 600px) {
    .logo {
        width: 100px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .floating-icon {
        width: 60px;
        height: 60px;
    }

    .floating-icon span {
        font-size: 10px;
    }

    .visitor-counter {
        font-size: 12px;
    }
}
