@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://t3.ftcdn.net/jpg/05/66/39/78/360_F_566397830_Eyld3KDOWRcqsQUWuZmC94jiiyud2Vv1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.donation-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    overflow: auto;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00e6e6;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #00e6e6;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #00b3b3;
    transform: scale(1.05);
}

.glow-button {
    box-shadow: 0 0 20px #00e6e6, 0 0 40px #00e6e6, 0 0 60px #00e6e6;
}

.glow-button:hover {
    box-shadow: 0 0 25px #00b3b3, 0 0 50px #00b3b3, 0 0 75px #00b3b3;
}

.floating-icon {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #00e6e6;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    text-align: center;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
    margin: 10px;
}

.floating-icon span, .floating-icon a span {
    color: #000;
    font-size: 10px;
    text-align: center;
    white-space: normal;
}

.floating-icon:hover {
    background-color: #00b3b3;
}

body .draggable {
    cursor: move;
}

@media (max-width: 600px) {
    .logo {
        width: 100px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .floating-icon {
        width: 60px;
        height: 60px;
    }

    .floating-icon span, .floating-icon a span {
        font-size: 8px;
    }
}
